body {
  /* disable web page navigation on swipe (back and forward) */
  overscroll-behavior-x: none;
}
.mySpinner {
  width: 100%;
  height: calc(100% - 40px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
}
.myToast {
  position: absolute;
  top: 65px;
  right: 5px;
  z-index: 200;
  width: 30%; 
  min-width: 250px; 
  max-width: 350px;
}
.myPopover {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 200;
  border: 0;
  background-color: rgba(0,0,0,0.4);
}
.legend {
  border: 1px solid lightgray;
  display: inline-block;
  /* margin-left: 10px; */
  width: 100px;
  font-size: 12px;
  color: black;
  text-align: center;
}
.popover {
  max-width: 800px;
}

/* nav bar */
.dropdown-item.active, .dropdown-item:active {
  color: black;
  background-color: lightgray;
}
.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

/* 
 * Resizer
 */
.Resizer {
  /* z-index: 1; */
  margin: 0;
}
.Resizer:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* background: #f8f9fa; */
  /* background: gainsboro; */
}
.Resizer.horizontal:hover {
  background: content-box linear-gradient(#f8f9fa, gainsboro, #f8f9fa);
}
.Resizer.vertical:hover {
  background: content-box linear-gradient(0.25turn, #f8f9fa, gainsboro, #f8f9fa);
}
.Resizer.horizontal {
  height: 11px;
  cursor: row-resize;
}
.Resizer.vertical {
  width: 11px;
  cursor: col-resize;
}


/*
 * Table Viewer
 */
 #btnOpenWikifier {
  width: 50px;
  height: 23px;
  overflow: hidden;
}
#btnOpenWikifier:hover {
  width: 151px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.cell {
  padding: 0px;
}
.cell-row-header {
  padding: 0px;
  background-color: whitesmoke !important;
  color: gray;
  font-weight: 300;
  text-align: center;
}

/*
 * Wikifier
 */
.myTextButton:hover {
  font-weight: 900;
}

/*
 * Sidebar
 */
.closed-sidebar {
  width: 0;
}

.opened-sidebar {
  width: 250px;
}

.table-sidebar-open {
 margin-left: 250px;
 margin-top: 50px;
 top: 0;
}

.table-sidebar-close {
  margin-left: 0px;
}
