Flask==1.1.2
Flask-Cors==3.0.8
Flask-SQLAlchemy==2.4.1
Flask-Migrate==2.5.3
PyYAML==5.3.1
google-api-python-client==1.8.2
pandas==1.0.3 #included in etk
SPARQLWrapper==1.8.5 #included in etk
etk==2.2.1
thinc==7.4.1
wheel==0.34.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz