PyYAML==5.3.1
pandas==1.0.3 #included in etk
SPARQLWrapper==1.8.5 #included in etk
etk==2.2.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz