.mySpinner {
  width: 100%;
  /* height: calc(100% - 40px); */
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
}

/* nav bar */
.dropdown-item.active, .dropdown-item:active {
  color: black;
  background-color: lightgray;
}
.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

/* new project */
.btn-primary {
  background-color: hsl(200, 100%, 30%);
  border-color: hsl(200, 100%, 30%);
}
.btn-primary:hover {
  background-color: hsl(200, 100%, 40%);
  border-color: hsl(200, 100%, 40%);
}

/* projects */
.project-list th {
  font-weight: 600;
}
.project-list th,
.project-list td {
  border-left: 0px !important;
  border-right: 0px !important;
}
.table-hover tbody tr:hover {
  color: #212529;
  /* background-color: rgba(0,0,0,.025); */
  background-color: whitesmoke;
}
.action-duplicate:hover {
  color: hsl(150, 50%, 40%);
}
.action-download:hover {
  color: hsl(200, 100%, 30%);
}
.action-delete:hover {
  color: hsl(0, 100%, 30%);
}