.edit-field-menu {
  position: absolute;
  min-width: 800px;
  z-index: 500;
  left: 20px;
  top: 50px;
}

.edit-field-menu .handle {
  background: whitesmoke;
  cursor: pointer;
}

.edit-field-menu .toast .toast-body {
  background: #fefefe;
  margin-left: 1rem;
  margin-right: 1rem;
}

.edit-field-menu .header {
  background: whitesmoke;
  cursor: pointer;
  margin-top: 3px;
  margin-bottom: 3px;
}
.edit-field-menu .body{
  background: #fefefe;
}


.edit-field-menu .wikify-form button.delete {
  cursor: pointer;
  float: right;
}

/* Search Properties checkbox */
.edit-field-menu .wikify-form .search-properties {
  margin-bottom: 15px;
}
.edit-field-menu .wikify-form .search-properties input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: bottom;
}
.edit-field-menu .wikify-form .search-properties label {
  user-select: none;
  cursor: pointer;
}

/* Input field clear button */
.edit-field-menu .wikify-form .clear-button {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #555;
  cursor: pointer;
  z-index: 125;
}
.edit-field-menu .wikify-form .clear-button:hover {
  color: #000;
}

/* Wikify Menu - Instance OF node */
.edit-field-menu .wikify-form .instance-of {
  margin-bottom: 1em;
}
.edit-field-menu .wikify-form .instance-of .remove-instance-of-button {
  margin-left: 5px;
  color: red;
}
.edit-field-menu .wikify-form .instance-of .remove-instance-of-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Wikify Menu - Selected node */
.edit-field-menu .wikify-form .selected-node {
  margin-bottom: 1em;
}

 /* Wikify Menu Qnode results */
.edit-field-menu .wikify-form .results {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.edit-field-menu .wikify-form .results .qnode {
  user-select: none;
  padding: 5px 0;
}
.edit-field-menu .wikify-form .results .qnode:hover {
  cursor: pointer;
  background: #f9f9f9;
}
.edit-field-menu .wikify-form .results .qnode .label {
  display: block;
  font-weight: bold;
  width: 100%;
}
.edit-field-menu .wikify-form .results .qnode .description {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
}

/* Apply Option checkboxes */
.edit-field-menu .wikify-form .apply-options input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: bottom;
}
.edit-field-menu .wikify-form .apply-options label {
  user-select: none;
  cursor: pointer;
}
