ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

li{
    margin-left: 15px;
    white-space: nowrap;
  }

.filetree {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  width: 100%;
}