.pointer {
    cursor: pointer;
}

.ellipsis {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.react-draggable:hover, .cursor:hover {
    background-color: #85757469;
}

.hovered {
    background-color: gray;
  }

.no-pointer-events {
    pointer-events: none;
}