.entity-menu {
    position: absolute;
    min-width: 600px;
    z-index: 500;
    left: 20px;
    top: 50px;
  }
  
  .entity-menu .handle {
    background: whitesmoke;
    cursor: pointer;
  }

  .entity-menu .toast .toast-body {
    background: #fefefe;
    margin-left: 2rem;
    margin-right: 2rem;
  }