/* Annotation Mode Toggle */
.mode-toggle {
  margin-right: 15px;
  user-select: none;
  cursor: pointer;
  color: white;
  float: right;
}
.mode-toggle button.btn.btn-outline-light.btn-sm,
.mode-toggle button.btn.btn-outline-light.btn-sm:active,
.mode-toggle button.btn.btn-outline-light.btn-sm:focus {
  box-shadow: none;
  outline: none;
}

.table-wrapper {
  position: relative;
  overflow: scroll;
  height: 100%;
}

.table-wrapper table {
  border: 1px solid #c7c7c7;
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: 400;
  user-select: none;
  position: relative;
  cursor: crosshair;
}

/* top left corner piece */
.table-wrapper table th:nth-child(1),
.table-wrapper.wikify-table table th:nth-child(1) {
  padding: 0.15em 0.5em;
  text-align: center;
  background: #f9f9f9;
  min-width: 1em;
  position: sticky;
  color: #777;
  z-index: 5;
  left: -1px;
  top: -1px;
  pointer-events: none;
}
.table-wrapper table th:nth-child(1)::before,
.table-wrapper.wikify-table table th:nth-child(1)::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 1.25em solid transparent;
  border-right: 1.25em solid #ddd;
  border-top: 1.25em solid transparent;
  pointer-events: none;
}

/* header row */
.table-wrapper table thead tr th {
  border: 1px solid #c7c7c7;
  white-space: nowrap;
  min-width: 75px;
  text-align: center;
  background: #f9f9f9;
  position: sticky;
  color: #777;
  z-index: 3;
  width: 75px;
  top: -1px;
}
.table-wrapper.wikify-table table thead tr th:not(:nth-child(1)) {
  min-width: 175px;
}
.table-wrapper table thead tr th::after {
  content: '';
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  position: absolute;
  background: #c7c7c7;
}
.table-wrapper table thead tr th > div {
  padding: 0.15em 0.5em;
  width: 75px;
  min-width: 75px;
  height: 1.25em;
  resize: horizontal;
  overflow: hidden;
  display: inline-table;
}
.table-wrapper.wikify-table table thead tr th:not(:nth-child(1)) > div {
  min-width: 175px;
}

/* left column */
.table-wrapper table tr td:nth-child(1),
.table-wrapper.wikify-table table tr td:nth-child(1) {
  text-align: center;
  background: #f9f9f9;
  padding: 0.15em 0.5em;
  min-width: 1em;
  position: sticky;
  color: #777;
  z-index: 3;
  left: -1px;
  pointer-events: none;
}
.table-wrapper table tr td:nth-child(1)::after,
.table-wrapper.wikify-table table tr td:nth-child(1)::after {
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  position: absolute;
  background: #c7c7c7;
  pointer-events: none;
}

.table-wrapper table tr td {
  border: 1px solid #c7c7c7;
  padding: 0.15em 0.5em;
  line-height: 1.25em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  min-width: 75px;
  max-width: 75px;
  width: 75px;
  z-index: 1;
}
.table-wrapper.wikify-table table tr td:not(:nth-child(1)) {
  min-width: 175px;
  max-width: 175px;
  width: 175px;
}


/* active cell */
.table-wrapper table.active tr td {
  opacity: 0.5;
}
.table-wrapper table.active tr td.active {
  opacity: 1;
}
.table-wrapper table tr td.active div.cell-border-top,
.table-wrapper table tr td.active div.cell-border-left,
.table-wrapper table tr td.active div.cell-border-right,
.table-wrapper table tr td.active div.cell-border-bottom,
.table-wrapper table tr td.active div.cell-resize-corner {
  background: #555;
  z-index: 5;
}
.table-wrapper table tr td.active.role-property div.cell-border-top,
.table-wrapper table tr td.active.role-property div.cell-border-left,
.table-wrapper table tr td.active.role-property div.cell-border-right,
.table-wrapper table tr td.active.role-property div.cell-border-bottom,
.table-wrapper table tr td.active.role-property div.cell-resize-corner {
  background: #f1a655;
}
.table-wrapper table tr td.active.role-qualifier div.cell-border-top,
.table-wrapper table tr td.active.role-qualifier div.cell-border-left,
.table-wrapper table tr td.active.role-qualifier div.cell-border-right,
.table-wrapper table tr td.active.role-qualifier div.cell-border-bottom,
.table-wrapper table tr td.active.role-qualifier div.cell-resize-corner {
  background: #8867cb;
}
.table-wrapper table tr td.active.role-mainSubject div.cell-border-top,
.table-wrapper table tr td.active.role-mainSubject div.cell-border-left,
.table-wrapper table tr td.active.role-mainSubject div.cell-border-right,
.table-wrapper table tr td.active.role-mainSubject div.cell-border-bottom,
.table-wrapper table tr td.active.role-mainSubject div.cell-resize-corner {
  background: #499bc1;
}

.table-wrapper table tr td.active.role-dependentVar div.cell-border-top,
.table-wrapper table tr td.active.role-dependentVar div.cell-border-left,
.table-wrapper table tr td.active.role-dependentVar div.cell-border-right,
.table-wrapper table tr td.active.role-dependentVar div.cell-border-bottom,
.table-wrapper table tr td.active.role-dependentVar div.cell-resize-corner {
  background:#3bab75;
}
.table-wrapper table tr td.active.role-metadata div.cell-border-top,
.table-wrapper table tr td.active.role-metadata div.cell-border-left,
.table-wrapper table tr td.active.role-metadata div.cell-border-right,
.table-wrapper table tr td.active.role-metadata div.cell-border-bottom,
.table-wrapper table tr td.active.role-metadata div.cell-resize-corner {
  background: #556e8b;
  z-index: 10;
}
.table-wrapper table tr td.active.role-unit div.cell-border-top,
.table-wrapper table tr td.active.role-unit div.cell-border-left,
.table-wrapper table tr td.active.role-unit div.cell-border-right,
.table-wrapper table tr td.active.role-unit div.cell-border-bottom,
.table-wrapper table tr td.active.role-unit div.cell-resize-corner {
  background: #ffca38;
  z-index: 15;
}

/* top border */
.table-wrapper table tr td div.cell-border-top {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  pointer-events: none;
}

/* left border */
.table-wrapper table tr td div.cell-border-left {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  pointer-events: none;
}

/* right border */
.table-wrapper table tr td div.cell-border-right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  pointer-events: none;
}

/* bottom border */
.table-wrapper table tr td div.cell-border-bottom {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  pointer-events: none;
}

/* resize corner piece */
.table-wrapper table tr td div.cell-resize-corner {
  display: block;
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 7px;
  height: 7px;
  z-index: 25;
  cursor: pointer;
  background: #555;
  border: 1px solid whitesmoke;
}

/* cell cleaned data status */
.table-wrapper table tr td.status-cleaned {
  font-weight: bold;
}

/* cell minor error status */
.table-wrapper table tr td.status-minorError {
  position: relative;
}
.table-wrapper table tr td.status-minorError::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  display: block;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #FF8000;
}
.table-wrapper table tr td.active.status-minorError::after {
  top: 2px;
  right: 2px;
}

/* cell major error status */
.table-wrapper table tr td.status-majorError {
  position: relative;
}
.table-wrapper table tr td.status-majorError::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  display: block;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #FF3333;
}
.table-wrapper table tr td.active.status-majorError::after {
  top: 2px;
  right: 2px;
}

/* cell roles */
.table-wrapper table tr td.role-dependentVar {
  background: #D9F2E6;
}
.table-wrapper table tr td.role-mainSubject {
  background: #D9EAF2;
}

.table-wrapper table tr td.role-metadata {
  background: #d8dfe7;
}

.table-wrapper table tr td.role-qualifier {
  background: #DDD9F2;
}
.table-wrapper table tr td.role-property {
  background: #fbe5ce;
}
.table-wrapper table tr td.role-unit {
  background: #fff2ce;
}





/* cell types*/
.table-wrapper table tr td.type-qNode {
  color: #006699;
}
