/* sheet selector scrollbar*/
.sheetSelector {
  height: 50px;
  padding: 0.5rem 0.75rem;
  background: whitesmoke;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}
.sheetSelector::-webkit-scrollbar {
  height: 5px;
}
.sheetSelector::-webkit-scrollbar-thumb {
  background: #339966;
}

/* sheet selector button */
.sheetSelector button {
  border-color: #339966;
  background: whitesmoke;
  color: #339966;
  padding: 0rem 0.5rem;
  margin: 0rem 0.25rem;
}
.sheetSelector button.active {
  border-color: #339966;
  background: #339966;
}

/* Handle on hover */
.sheetSelector::-webkit-scrollbar-thumb:hover {
  background: #266444;
}
