.legend-button {
  position: absolute;
  bottom: 70px;
  right: 20px;
  border: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.legend-wrapper {
  background: rgba(255, 255, 255, 0.75);
}

.legend-wrapper h6 {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.legend-wrapper span {
  border: 1px solid #c7c7c7;
  min-width: 50px;
  display: block;
  margin: 5px 0;
  padding: 0 5px;
  text-align: center;
  font-size: 12px;
  color: black;
}

/* different types of cells */
.legend-wrapper span.type-data {
  background: #D9F2E6;
}
.legend-wrapper span.type-item {
  background: #D9EAF2;
}
.legend-wrapper span.type-wikified {
  color: #006699;
}
.legend-wrapper span.type-qualifier {
  background: #DDD9F2;
}
.legend-wrapper span.type-reference {
  background: #D9F2E6;
}
.legend-wrapper span.type-minorError {
  background: #FF8000;
}
.legend-wrapper span.type-majorError {
  background: #FF3333;
}
