.wikify-menu {
  position: absolute;
  min-width: 500px;
  z-index: 250;
  left: 50px;
  top: 70px;
}

.wikify-menu .handle {
  background: whitesmoke;
  cursor: pointer;
}

.wikify-menu .clear-button {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #555;
  cursor: pointer;
  z-index: 125;
}
.wikify-menu .clear-button:hover {
  color: #000;
}

.wikify-menu .wikify-form .results {
  max-height: 500px;
  overflow: scroll;
}

.wikify-menu .qnode {
  user-select: none;
  padding: 5px 0;
}

.wikify-menu .qnode:hover {
  cursor: pointer;
  background: #f9f9f9;
}

.wikify-menu .qnode .label {
  display: block;
  font-weight: bold;
  width: 100%;
}

.wikify-menu .qnode .description {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
}

.wikify-menu .toast .toast-body {
  background: #fefefe;
}
