.wikify-menu {
  position: absolute;
  min-width: 300px;
  z-index: 250;
  left: 50px;
  top: 70px;
}

.wikify-menu .handle {
  background: whitesmoke;
  cursor: pointer;
}

.wikify-menu form.wikify-form p.area {
  margin-bottom: 10px;
  font-weight: bold;
}

.wikify-menu form.wikify-form button.delete {
  cursor: pointer;
  padding: 0px;
  color: red;
}
