.mySpinner {
  width: 100%;
  height: calc(100% - 40px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
}
.myToast {
  position: absolute;
  top: 65px;
  right: 5px;
  z-index: 200;
  width: 30%; 
  min-width: 250px; 
  max-width: 350px;
}

/* 
 * Resizer
 */
.Resizer {
  /* z-index: 1; */
  margin: 0;
}
.Resizer:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* background: #f8f9fa; */
  /* background: gainsboro; */
}
.Resizer.horizontal:hover {
  background: content-box linear-gradient(#f8f9fa, gainsboro, #f8f9fa);
}
.Resizer.vertical:hover {
  background: content-box linear-gradient(0.25turn, #f8f9fa, gainsboro, #f8f9fa);
}
.Resizer.horizontal {
  height: 11px;
  cursor: row-resize;
}
.Resizer.vertical {
  width: 11px;
  cursor: col-resize;
}


/*
 * Table Viewer
 */
 #btnOpenWikifier {
  width: 50px;
  height: 23px;
  overflow: hidden;
}
#btnOpenWikifier:hover {
  width: 151px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#sheetSelector::-webkit-scrollbar {
  height: 2px;
}
#sheetSelector::-webkit-scrollbar-thumb {
  background: #339966;
}
.cell {
  padding: 0px;
  border: 1px solid #BDC3C7;
}
.cell-header {
  padding: 0px;
  /* background-color: #f5f7f7; */
  background-color: whitesmoke !important;
  color: rgba(0, 0, 0, 0.54);
  /* font-weight: 600; */
  text-align: center;
}

/*
 * Wikifier
 */
.myTextButton:hover {
  font-weight: 900;
}